
header{
	background:black;
	padding: 20px 0 ;
}

.cabecalho-principal{
	position: relative;
	width: 940px;
	margin: 0 auto;
}

nav{
	position: absolute;
	top: 110px;
	right: 0;
}

nav li{
	display: inline;
	margin:0 0 30px 15px;	
}

nav a{
	text-transform:  uppercase;
	font-size: 22px;
	color: white;
	text-decoration: none;
}

.banner-principal{
	position: relative;
	width: 100%;
	margin: 0 auto;
}

main{
	width: auto;
	text-align: center;
	margin: 10px auto;
	

}
.principal{
	font-size: 2em;
	font-weight: bold;
	text-align: center;
	padding: 20px;
}

/*produto*/
.principal-produtos h2{
	font-weight: bold;
	font-size: 1.5em;
	padding: 2%;
}
.principal-produtos{
	
	width: 940px;
	margin:0 auto;

	/* padding:50px 50px; */
}

.principal-produtos li {
	display: inline-block;	
	text-align: center;
	width: 40%;
	vertical-align: top;
	margin:10px 45px;
	padding: 10px 20px;
	box-sizing: border-box;
	border: 4px solid black;
	border-radius: 50px;
	
}
.principal-produtos li:hover {
	border-color: gray;
	background-color: beige;
	transition: 1s ;
	cursor: pointer;

}

.principal-produtos li:hover h2{
    font-size: 34px;
}

.principal-produtos li:active{
    border-color: #088c19;
}

.principal-produtos-preco{
	font-size: 1.5em;
	font-weight: bold;
	padding: 10px;
}
.principal-produtos img{
	width:  100%;
	height: 250px;
	border-radius: 10px;
	object-fit: fill;
}

.principal-sobre{
	width: 940px;
	display:inline-block;
	
	text-align: center;
	
}
.principal-sobre-quemsomos{
	box-shadow: 5px 5px 10px -3px black;
	font-weight: bold;
	font-size: 24px;
	text-align: center;
	padding:10px;
	background-color: gray	;
	color: rgba(255, 255, 255, 0.685);
	
}

.principal-sobre-historia{
	padding: 20px;
	margin: 10px auto;
	font-size: 16px;
	background-color: rgba(197, 192, 192, 0.993);
	text-align: justify;
	color: rgba(29, 3, 3, 0.945);
}

.principal-contato{
	background-color: #F7F4F4;

}

.principal-contato-titulo{

	font-size:  22px;
	font-weight: bold;
}

.principal-contato-descricao{
	margin: 10px auto;

}

.principal-contato2{
	background-color: #F7F4F4;
	text-align: center;		
	
}

.principal-contato-form{
	
	display :block;
	width: 80%;
	height: 100%;
	border-radius: 8px;
	border: 1px solid gray;
	position: relative;
	text-align:center;
	padding: 20px;
	line-height: 1;
	margin: 10px auto;	
	

}

.contato-campo{
	margin: .8em auto;
  max-width: 600px;
  padding: 5px;
  position: relative;
}
.contato-campo label, .contato-campo textarea{
	display: block;
	width: 100%;
	text-align: left;
	position: relative;
	padding: 0.5%;
	}

.contato-campo input,
.contato-campo textarea{
	font-size: 1em;
	padding: .5em;
	width: 600px;
	min-height: 10px;
	border-radius: 8px;
	border:2px solid #ccc;
	outline: 0;
	
}

.contato-campo input:focus{
	border: 2px solid black
}


.contato-campo-botao{
	width: 400px;
	height: 60px;
	border:2px solid #ccc;
	border-radius: 8px;
	background: transparent;
}

.contato-campo-botao:hover	{
	
	color: white;
	cursor: pointer;
	background-color:gray;
	transition: 3ms;
}
/*RODAPÉ */

footer{
	display: block;
	background-color: black;
	text-align: center;
	width: 100%;
	padding: 40px 0 ;
}

footer p {
	text-align: center;
	color: white;
}

.rodape-social{
	position: absolute;
	display: inline-block;
	padding: 10px;
	bottom: -700px;
    right: 450px;
	
}
